/.idea/.gitignore
/.idea/.name
/tests/__init__.py
/.idea/dataSources.xml
/.idea/django tailalpinex.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/sqldialects.xml
/tests/test_django_tailapinex.py
