{% extends 'base.html' %}

{% block content %}
    {% load widget_tweaks %}
    <div class="text-white grid place-content-center h-screen text-center text-xl bg-gradient-to-br from-gray-800 to-black">
        <p>Hello </p>
        <a href="https://tailwindcss.com/"
           class="bg-clip-text text-transparent from-indigo-400 to-yellow-400 bg-gradient-to-r text-6xl">tailwindcss</a>
        <p>+</p>
        <a href="https://www.djangoproject.com/" class="text-6xl font-extrabold tracking-tight">django</a>
        <p>+</p>
        <a href="https://alpinejs.dev/" class="pt-2 text-6xl font-bold tracking-wide text-gray-400">Alpine.js</a>
        <p>+</p>
        <p class="pt-2 text-6xl font-bold">&#60;<span class="text-[#3D72D8]">/</span>&#62; htm<span class="text-[#3D72D8]">x</span></p>
    </div>
{% endblock %}
